.form-section {
  padding: 0px 0 110px 0;
}

.form-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-section__right {
  width: 540px;
}

.contacts-form input:not(:last-child), textarea{
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 10px 20px 20px 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  margin: 15px 0;
  outline: none;
}

.contacts-form input:not(:last-child):invalid/* :not(:focus) */:not(:placeholder-shown) {
  // Show a light reminder
  border-bottom-color: red;
  color: red;
}
.input-validation-error
{
  color:black;
}

.form-section__left h1{
  font-size: 64px;
  line-height: 100px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 0;
}

.form-section__left h2 {
  font-size: 32px;
line-height: 48px;
font-weight: 600;
color: #F67E7E;
margin-bottom: 0;
}

.form-section__left ul, ol {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;

}

.form-section__left ul li {
  margin-top: 30px;
}

.form-section__left img::before {
  display: inline-block;
  content:"";
  border-radius: red;
}

.feauture-list__item {
  display: flex;
}

.feauture-list__item::before {
  content: "";
  width: 72px;
  height: 72px;
  display: inline-block;
  margin-right: 25px;
}

.feauture-list__item:nth-child(1)::before{
  background-image: url("../img/experience.png");
}

.feauture-list__item:nth-child(2)::before {
  background-image: url("../img/tool.png");
}

.feauture-list__item:nth-child(3)::before {
  background-image: url("../img/productivity.png");
}

input:focus:invalid:placeholder-shown {
  border-bottom-color: red;
}

textarea:focus:invalid:placeholder-shown {
  border-bottom-color: red;
}

textarea:focus:invalid:placeholder-shown::placeholder {
  color: red;
}

input:focus:invalid:placeholder-shown::placeholder {
  color: red;
}

// label {
//   display: none;
// }

// input:focus:invalid:placeholder-shown label {
//   display: block;
// }


label {
  display: block;
  font-style: italic;
  font-weight: 500;
  color: transparent;
}

input:active + label {
  color: red;
}

span {
  opacity: 0;
}

input:focus:invalid:placeholder-shown + span {
  opacity: 1;
  font-style: italic;
  font-weight: 600;
  color: red;
}

.form-section__left p {
font-size: 18px;
line-height: 28px;
font-weight: 600;
color: #FFFFFF;
}
.contacts-form input:not(:last-child):valid, textarea:valid {
  border-bottom-color: turquoise;
}

.contacts-form input::placeholder, textarea::placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: 600;
}

.contacts-form input::placeholder:hover {
  border-bottom-color: 1px solid #79C8C7;
}


.contacts-form .btn--primary {
  background-color: #fff;
  margin-top: 20px;
}

