.feautures {
  background-color: #012F34;
  padding: 140px 0;
}

.feautures-heading {
  font-size: 48px;
  line-height: 48px;
  max-width: 445px;
}


.feautures-heading::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #F67E7E;
  border-radius: 5px;
  margin-bottom: 75px;
}

.section__subheading {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #F67E7E;
}

.section__list {
  list-style-type: none;
  padding: none;
  margin: none;
  margin-top: 90px;
}

.section__item {
  margin-bottom: 32px;
  display: flex;
}

.section__item::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 72px;
  margin-top: 10px;
  margin-right: 20px;
}

.section__item:nth-child(1)::before {
  background-image: url("../img/experience.png");
}

.section__item:nth-child(2)::before {
  background-image: url("../img/tool.png");
}

.section__item:nth-child(3)::before {
  background-image: url("../img/productivity.png");
}

.feautures-container {
  justify-content: space-between;
}

.feauture--bg {
  background-image: url("../img/second.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

@media only screen and (max-width:1135px) {
  .feautures-container {
    flex-direction: column;
  }

  .feautures-heading {
    max-width: 80%;
    text-align: left;
  }

  .section__item {
    max-width: 100%;
  }

  .item-wrapper {
    width: 100%;
    text-align: left;
  }

  .feautures-container .section__text {
    max-width: 70%;
  }

  .feautures-container .section__list {
    margin-left: 0;
    padding-left: 0;
  }

  .feautures-container .section__item::before {
    background-size: contain;
    background-repeat: no-repeat;
  }

}

@media only screen and (max-width:780px) {
  .feautures-heading {
    max-width: 80%;
    text-align: left;
    font-size: 40px;
  }

  .feauture--bg {
    background-position: right top;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width:780px) {
  .feautures-container .section__text {
    max-width: 100%;
  }

  .feautures-container .section__item {
    flex-direction: column;
  }

  .feautures-container .section__item::before {
    margin-left: auto;
    margin-right: auto;
  }

  .item-wrapper {
    text-align: center;
  }
}