.sitefooter {
  padding: 50px 0;
}

.sitefooter .container {
  display: flex;
  align-items: start;
}

.footer__left .logo {
  margin-bottom: 50px;
}

.footer__middle {
  margin-left: 40px;
}

.footer-responsive {
  display: flex;
}

.footer__middle p, .footer__middle a{
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}

.footer__right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.sns {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: auto;
  margin-bottom: 50px;
}

.sns li:not(:first-child) {
  margin-left: 16px;
}

.footer__right p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
}


@media only screen and (max-width:770px) {
  .sitefooter .container {
    flex-direction: column;
  }

  .footer-responsive {
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
  }


  .footer__right {
   display: flex;
   flex-grow: 1;
   width: 100%;
   flex-direction: row;
   margin-left: 0;
   align-items: center;
   justify-content: space-between;
   margin-top: 30px;
  }

  .sns {
    margin: 0;
  }
}

@media only screen and (max-width:510px) {
  .sitefooter .container {
    flex-direction: column;
  }

  .footer-responsive {
    flex-direction: column;
  }

  .footer__left {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__middle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
  }

  .sitenav-list li:last-child {
    margin-right: 0;
    margin-left: 15px;
  }

  .logo {
    margin-right: 0;
  }

  .footer__right {
    flex-direction: column;
  }
}