.sitefooter {
  padding: 50px 0;
}

.sitefooter .container {
  display: flex;
  align-items: start;
}

.footer__left .logo {
  margin-bottom: 50px;
}

.footer__middle {
  margin-left: 40px;
}

.footer__middle p, .footer__middle a{
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}

.footer__right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.sns {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: auto;
  margin-bottom: 50px;
}

.sns li {
  margin-left: 16px;
}

.footer__right p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
}