.section__wrapper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
}

.hero-wrapper {
  background-image: url("../img/dark-circle.png"), url("../img/couple-circles.png");
  background-position: -1.5% 35%, right 18% top 100%;
}

.section__container {
  display: flex;
}

.hero-container {
  padding: 70px 0 200px 0;
  align-items: center;
}

.section__heading {
  max-width: 620px;
  font-size: 100px;
  line-height: 100px;
  font-weight: 700;
  color: #FFFFFF;
}

.section__heading span {
  color: #F67E7E;
}

.section__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  max-width: 445px;
}

.hero-text::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 75px;
}

@media only screen and (max-width:1336px) {
  .section__wrapper {
    background: none;
    padding: 0 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width:1078px) {
  .section__heading {
    font-size: 80px;
    margin-right: 20px;
  }
}

@media only screen and (max-width:1034px) {
  .section__heading {
    font-size: 60px;
  }
}

@media only screen and (max-width:845px) {
  .section-heading {
    line-height: 60px;
  }
}

@media only screen and (max-width:777px) {
  .siteheader {
    margin: 50px 0;
  }
  .section {
    background-image: url("../img/couple-circles.png");
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  .section__container {
    flex-direction: column;
    text-align: center;
  }
  
  .section__heading {
    line-height: 50px;
    max-width: 300px;
    margin-bottom: 0;
  }
  
  .section__text {
    max-width: 510px;
    font-size: 15px;
    line-height: 28px;
  }
  
  .section__text::before {
    display: none;
  }
  
}

@media only screen and (max-width:555px) {
  .logo {
    margin-right: 40px;
    // min-width: 100px;
  }
}